.wrapper {
  margin-left: 20%;
  margin-top: 50px;
}
.btn {
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid rgb(112, 111, 111);
  background: transparent;
  padding: 15px 10px;
  width: 240px;
  border-radius: 5px;
  padding-right: 40px;
  cursor: pointer;
  z-index: 1;
}
.after {
  display: inline-block;
  transform: translate(-40px, 10px);
  width: 0;
  height: 0;
  border-top: 25px solid #5dc7f1;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  z-index: 0;
}
.list li {
  margin-top: 20px;
  cursor: pointer;
}
.list li:hover {
  color: rgb(93, 199, 241)
}
.list li:first-child {
  padding-top: 20px;
}
.list {
  border: 1px solid rgb(112, 111, 111);
  width: 218px;
  border-top: none;
  transform: translateY(-20px);
  padding: 0 10px;
  padding-bottom: 20px;
}