.nextBtn {
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  /* border: 1px solid rgb(131, 176, 185); */
  height: 40px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}
.nextBtn a {
  color: #000;
  font-size: 20px
}

.ative {
  border: 1px solid rgb(131, 176, 185);
}

.disabled {
  background: red !important
}

.ative a {
  color: #000
}

.summary {
  width: 70%
}

.summary h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin: 100px 80px;
  display: inline-block;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper h1 {
  font-family: Comic Sans MS, Helvetica, sans-serif
}
.filters {
  width: 30%;
}