.nextBtn {
  display: block;
  margin: 50px auto;
  border: none;
  background: none;
  outline: none;
  border: 1px solid rgb(131, 176, 185);
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.summary {
  width: 100%
}

.summary h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin: 100px 80px;
}