.body p {
  font-size: 16px;
  line-height: 1.3;
}
.companyP {
  font-weight: bold;
  margin-bottom: 5px;
}

.body {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.company {
  margin-left: 25px;
  text-align: left;
}

.date {
  width: 150px
}