
.header {
  display: flex
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  height: 50px
}

.menuLink {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px rgb(55, 157, 241) inset, 0 0 0 0 rgb(55, 167, 241);
  color: white;
  transition: .15s ease-in-out;
}

.menuLink:hover {
  box-shadow: 0 0 10px 0 rgb(55, 157, 241) inset, 0 0 10px 4px rgb(55, 157, 241);
  color: rgb(55, 157, 241);
}

.active {
  box-shadow: 0 0 10px 0 rgb(55, 157, 241) inset, 0 0 10px 4px rgb(55, 157, 241) !important;
  color: rgb(55, 157, 241) !important;
}