.body {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.description, .title {
  font-size: 17px;
  line-height: 1.4;
}
.description {
  margin-left: 30px;
}

.title {
  width: 150px
}