.body {
  width: 700px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center
}

.body h1 {
  height: 100px;
  color: #fff;
  background: rgb(10, 100, 164);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -2px -10px 32px -1px rgba(0,0,0,0.66);
}

.body h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Open sans', serif;
  padding: 50px 0;
}

.log {
  background: rgb(255, 255, 255);
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -3px 12px 32px -1px rgba(0,0,0,0.66);
  padding-bottom: 50px;
}

.log input {
  height: 50px;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(52, 57, 67);
  outline: none;
  margin-top: 20px;
  padding-left: 25px;
  font-family: 'Open sans', serif;
  color: rgb(141, 141, 141)
}

.log input::placeholder {
  color: rgb(141, 141, 141)
}

.logButton, .load {
  width: 65%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  outline: none;
  background: rgb(10, 100, 164);
  margin-top: 50px;
  padding: 15px 0;
  font-family: 'Open sans', serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.load {
  background: rgba(255,255,255,1);
  transition: color .3s, background .5s;
  animation: stripes .75s infinite;
  background: linear-gradient(45deg, rgb(152,15,0) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgb(152,15,0) 50%,      rgb(152,15,0) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
  background-size: 10px 10px;
  color: transparent
}

@keyframes stripes {
  0% {background-position: 0 0;}
  100% {background-position: 50px 0;}
}

.err {
  color: red;
  padding-top: 15px;
}

.signin {
  padding-bottom: 300px;
}

.load {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  width: 65%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.load {
  background: rgba(255,255,255,1);
  transition: color .3s, background .5s;
  animation: stripes .75s infinite;
  background: linear-gradient(45deg, rgb(152,15,0) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgb(152,15,0) 50%,      rgb(152,15,0) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
  background-size: 10px 10px;
  color: transparent
}

@keyframes stripes {
  0% {background-position: 0 0;}
  100% {background-position: 50px 0;}
}