.search {
  padding-top: 100px;
  height: 100px;
  text-align: center;
}

.input {
  width: 60%;
  height: 80px;
  background: none;
  border: 2px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
  padding-left: 50px;
  font-size: 25px;
  color: #fff
}
.input::placeholder {
  color: #fff
}

.enter {
  outline: none;
  background: none;
  height: 86px;
  border: 2px solid #fff;
  border-left: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  padding: 0 15px
}

.searchArea {
  width: 63%;
  padding-bottom: 0px;
  background: #fff;
  margin: 0 auto;
  transform: translate(-50px, -10px);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left
}

.searchArea a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
}


.searchArea a:hover {
  background: red
}