.menuLink {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  transition: .15s ease-in-out;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 6;
}

.active {
  background: #fff !important;
  color: #000 !important
}