
.peopleComment, .yorComments {
  border: 1px solid #000;
  width: 400px;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 20px 20px;
  position: relative;
}

.yorComments {
  border: 1px solid #e7e7e7;
  margin-left: 500px;
  background: rgba(0, 128, 0, 0.123)
}

.clear {
  clear: both;
}

.peopleComment a, .yorComments a {
  font-size: 18px;
  color: #000;
  font-family: 'Arial', sans-serif;
  display: block;
  margin-bottom: 10px;
}
.peopleComment a:hover, .yorComments a:hover {
  color: rgb(190, 59, 230)
}
.peopleComment span, .yorComments span {
  margin-bottom: 20px;
  display: block;
  color: #c00
}


.peopleComment p, .yorComments p {
  line-height: 20px;
  font-size: 15px;
  color: #000;
  font-family: 'Arial', sans-serif;
}

.delete, .deleteLoad {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: center;
  font-size: 14px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  height: 40px;
  cursor: pointer;
  color: #609fcf;
  padding: 0 20px;
  line-height: 40px;
}

.deleteLoad {
  background: red
}