.App {
  width: 100%;
  margin: 0 auto;
  font-family: Comic Sans MS, Helvetica, sans-serif !important
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wrapper {
  display: flex;
  font-family: Comic Sans MS, Helvetica, sans-serif !important
}

.body {
  width: 100%;
  margin-left: 120px;
  font-family: Comic Sans MS, Helvetica, sans-serif !important
}